body{
    font-family: georgia; 
    text-align: center;
    line-height: 1.5;
}
img{
    width: 100%;
}
ul{
    line-height: 3;
    list-style: inside;
    list-style-position: outside;
    display: inline-block;
    text-align: left;
}
h4{
    font-size: larger;
}
.diary{
    width: 40%;
    display: inline-block;
}